.product-card{
    width: 300px;
    height: 300px;
    border: 2px solid red;
    margin-bottom: 50px;
}
img{
    width: 100%;
}
.productPrice{
    display: flex;
    justify-content: space-around;
}
button{
    border: none;
    
}